/* Add a background color to the entire page */
body {
    background-color: #fbfbfb;
    }
    
    /* Style the title of the app */
    h1 {
      color:  #941378;
      font-size: 36px;
      margin-bottom: 30px;
      
    }
    
    /* Style the input fields */
    input[type="text"], input[type="number"] {
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
      border-radius: 5px;
      order: 1px solid #2949a7;
    }
    
    /* Style the button */
    button {
      background-color:  #941378;
      color: #eaccec;
      padding: 10px;
      border-radius: 5px;
      border: none;
      width: 100%;
      margin-bottom: 20px;
    }
    
    /* Style the boxes */
    div.box{
      background-color: #471132 !important;
      border-radius: 5px;
      border: 1px solid #0c0a2e;
      padding: 20px;
      margin-bottom: 20px;
      overflow: hidden;
    }
    
    /* Style the title of the boxes */
    .box h2 {
      color: #0f2c49;
      margin-top: 0px;
      margin-bottom: 10px;
    }